<p>
  otro works!
</p>

<ul *ngFor="let alumno of alumnos">
	<li>{{alumno.id}} -- {{alumno.name}}</li>
	<li>{{alumno.promedio}}</li>
	<li>{{alumno.edad}}</li>
	<li>{{alumno.regular}}</li>
	<li>{{alumno.faltas}}</li>
	<li><h4 *ngIf="alumno.faltas > 4">No te pases de verga culero</h4></li>
	<li><h4 *ngIf="alumno.faltas > 0 && alumno.faltas <= 4">{{reprobado(alumno) | uppercase}}</h4></li>
	<li><h4 *ngIf="alumno.faltas == 4">Reprobado por HUevon</h4></li>

	<button (click)="addFalta(alumno)">Agregar</button>
	<input type="text" [(ngModel)]=alumno.faltas>
	<button (click)="removeFalta(alumno)">Quitar</button>
</ul>


